#content-header  {
  margin-bottom: 2em;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-color:#eee;
  background-repeat: repeat-x;
  filter: none;
  border-bottom: 0px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

  #header {
  background: #444;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: repeat-x;
  filter:none;
  width: 100%;
  height: 77px;
  border-bottom: 1px;
  position: relative;
  z-index: 15;
}


  #top-bar {
    background-color: #444;
    border-top: 0px;
    border-bottom: 0px;
  }

  #top-bar .nav .dropdown-menu > li > a {
    padding-left: 0px;
    color: #277ec8;
  }
  #top-bar .nav .dropdown-menu .divider {
    background-color: #555;
  }

  #search .form-control {
  background: #4e4e4e;
  width: 210px;
  border: 1px solid #363636;
  color: #FFF;
  position: relative;
  top: 12px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-sizing: border-box;
}

  #search {
  background: #666;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;
  width: 100%;
  height: 57px;
  text-align: center;
  border-top: 0px;
  border-bottom: 0px;
  position: relative;
  z-index: 15;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1), 0 0px 0 rgba(255, 255, 255, 0.15);
}

  #sidebar hr {
  margin-bottom: 2em;
  border-top: 0px; 
  border-bottom: 0px;
}
  body {
  color: #444;
  font: 13px/1.7em "Open Sans", "trebuchet ms", arial, sans-serif;
  background: #666 url(../img/layout/sidebar-bg.png) repeat-y 0 0;
}
#main-nav {
  width: 240px;
  padding: 0;
  margin: 0px 0px 0px 0px;
  border-top: 1px solid #4A4A4A;
  border-bottom: 1px solid #858585;
  position: relative;
  top: 0px;
}
#header, #top-bar, #footer
{
    background: #363636;
}

/* @Sidear */
#accountbar {
  width: 240px;
  display: block;
  float: left;
  position: relative;
  position: absolute;
  z-index: 16;
}
#accountbar hr {
  margin-bottom: 2em;
  border-top: 1px solid #4A4A4A;
  border-bottom: 1px solid #858585;
}
@media (max-width: 768px) {
    #accountbar {
        width: 100%;
        float: none;
        position: static;
    }

    #accountbar ul {
        width: 100%;
    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #accountbar.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 770px) {
  #wrapper {
      padding-top: 40px;
  }

  #sidebar-wrapper.collapse, #top-bar.collapse {
      position:fixed;
  }

  #header {
      display:none;
  }
  #site-logo {
        position: inherit;
        top: 0px;
        left: 15px;
        z-index: 21;
    }
    #top-bar {
        padding-top: 5px;
        padding-right: 25px;
        padding-left: 40px;
    }
    #accountbar {
        height:0px;
        display:none;
    }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #sidebar-wrapper.collapse, #top-bar.collapse {
        position: fixed;
    }
    #header {
        display:none;
    }
    #site-logo {
        position: inherit;
        top: 0px;
        left: 15px;
        z-index: 21;
    }
    #top-bar {
        padding-top: 5px;
        padding-right: 25px;
        padding-left: 40px;
    }
    #accountbar {
        height: 0px;
        display:none;
    }
}

#account-nav {
  width: 240px;
  padding: 0;
  margin: 1.25em 0 2.5em;
  border-top: 1px solid #4A4A4A;
  border-bottom: 1px solid #858585;
  position: relative;
  top: 5px;
}
#account-nav > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  border-top: 1px solid #858585;
  border-bottom: 1px solid #4A4A4A;
}
#account-nav > li > a {
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
  display: inline-block;
  padding: 11px 18px 11px 18px;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
#account-nav > li > a i {
  position: relative;
  top: 1px;
  width: 16px;
  display: inline-block;
  text-align: center;
  margin-right: 1em;
  color: #444;
  font-size: 16px;
  text-shadow: none;
}
#account-nav > li > a:hover,
#account-nav > li.opened > a {
  background: #616161;
  background: rgba(0, 0, 0, 0.075);
}
#account-nav > li.active {
  border-top: none;
}
#account-nav > li.active > a {
  background: #066ECD;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #f0f0f0, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f0f0', GradientType=0);
  border-top: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #e5412d;
  text-shadow: none;
  font-weight: 600;
}
#account-nav > li.active > a i {
  color: #e5412d;
}
#account-nav > li.dropdown > a {
  padding-bottom: 12px;
}
#account-nav > li.dropdown > a .caret {
  width: 0;
  height: 0;
  display: inline-block;
  border-top-color: #383838;
  border-bottom-color: #383838;
  position: absolute;
  top: 19px;
  right: 20px;
}
#account-nav .sub-nav {
  background: #555;
  width: 100%;
  display: none;
  list-style-type: none;
  padding: 1em 0;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: none;
  position: relative;
  top: 0;
}
#account-nav .sub-nav > li {
  background: none;
  list-style-type: none;
  padding: 0;
  margin: 0 1em 0 0;
}
#account-nav .sub-nav > li > a {
  width: auto;
  font-size: 12px;
  display: block;
  padding: 7px 15px 7px 30px;
  color: #FFF;
}
#account-nav .sub-nav > li > a:hover {
  text-decoration: none;
  background-color: #4d4d4d;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#account-nav .sub-nav > li > a i {
  position: relative;
  top: 1px;
  margin-right: .65em;
  color: #fff;
  font-size: 13px;
}

  #top-bar {
    position: static;
    padding: 0px 0px 0px 40px;
    margin-left: 0;
    background-color: #444;
    border-top: 1px solid #5a5a5a;
    border-bottom: 1px solid #111;
  }
  #top-bar .nav {
    float: none !important;
  }
  #top-bar .nav > li {
    float: none;
  }
  #top-bar .nav > li > a {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 13px;
  }
  #top-bar .nav > li > a .caret {
    margin-top: -2px;
  }

  #top-bar.collapse {
    display: inline-block!important;
    height: 40px!important;
    padding-bottom: 0;
    overflow: visible!important;
  }