@media (min-width: 480px) {
    #loginModal{
        width: 80%; /* respsonsive width */ 			
        margin-left:10%; /* width/2) */ 		
    } 	
}

.modal-content-login {
    max-width: 320px;
    margin: 0 auto;
}

#loginError {
    margin: 0 auto; 
    font-weight:bold;
}