@using Microsoft.AspNet.Identity
<li class="light-blue">

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {

            @Html.AntiForgeryToken()
        }
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            @*@if (User.IsInRole("Administrator"))
            {
                <text>
                    <i class="fa fa-empire" style="color:white; font-size:x-large; margin-right:0;"></i>
                </text>
            }
            else
            {
                <text>
                    <i class="fa fa-ra" style="color:white; font-size:x-large; margin-right:0;"></i>
                </text>
            }*@
            <span>
                @User.Identity.GetUserName()
            </span>
            <i class="ace-icon fa fa-caret-down"></i>
        </a>
        
        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li>
                @Html.ActionLink("Account Management", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </ul>
    }

    else
    {
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            Signup
        </a>
        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li><a href="#" id="loginLink" data-toggle="modal" data-target="#loginModal">Login</a></li>
        </ul>
    }
</li>