@using BuggerOff.Models
@model LoginViewModel

@{
    ViewBag.Title = "Log in";
}


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="col-md-4 col-md-offset-4">
                <div class="widget-box widget-color-blue2">
                    <div class="widget-header">
                        <h4 class="widget-title">Login</h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main no-padding">
                            <form action="/Account/Login" class="" method="post" novalidate="novalidate">
                                @Html.AntiForgeryToken()
                                <!-- <legend>Form</legend> -->
                                <fieldset class="col-md-offset-2">
                                    <span>
                                        <label class="col-md-3 control-label" for="Email">Username</label>
                                        <input class="input-large" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" type="text" value="">
                                        <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                    </span>
                                    <br />
                                    <span>
                                        <label class="col-md-3 control-label" for="Password">Password</label>
                                        <input class="input-large" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password">
                                        <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                    </span>
                                    <br />

                                    <div class="col-md-offset-3">
                                        <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true">
                                        <input name="RememberMe" type="hidden" value="false">
                                        <label for="RememberMe">Remember me?</label>
                                    </div>
                                </fieldset>

                                <div class="form-actions center">
                                    <button type="submit" class="btn btn-sm btn-success">
                                        Log in
                                        <i class="fa fa-sign-in bigger-110"></i>
                                    </button>
                                </div>
                            </form>
                            <button type="button" data-dismiss="modal">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}