@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Bugger Off! Features</h2>
        <div>
            <ul class="list-group list-unstyled">
                <li class="list-group-item-info"><big>Create Projects</big></li>
                <li class="list-group-item-success"><big>Assign Users to Projects</big></li>
                <li class="list-group-item-info"><big>Create Bugs for Projects</big></li>
                <li class="list-group-item-success"><big>Assign Users to Bugs</big></li>
            </ul>
        </div>    
    </div>

    <div class="col-md-4">
        <h2>Contact</h2>
        <img src="~/Content/BigOff.png" />
        <p>Contact us for product information about our product</p>
        <div class="col-md-offset-8 col-md-4">
            <button type="button" class="btn btn-info">@Html.ActionLink("Contact", "Contact", "Home", new {@class = "nav navbar-nav" })</button>
        </div>
    </div>
</div>