<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://buggeroff.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>buggeroff.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>buggeroff</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$buggeroff</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BuggerOffEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bz1s9tta0r.database.windows.net,1433;Initial Catalog=BuggerOff;Integrated Security=False;User ID=CoderFoundry@bz1s9tta0r;Password=LearnToCode!;Connect Timeout=30;Encrypt=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BuggerOff.DataAccess.BuggerOffEntities, BuggerOff" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:bz1s9tta0r.database.windows.net,1433;Initial Catalog=BuggerOff;Integrated Security=False;User ID=CoderFoundry@bz1s9tta0r;Password=LearnToCode!;Connect Timeout=30;Encrypt=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BuggerOff.Models.ApplicationDbContext, BuggerOff" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BuggerOffEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.TicketsModel.csdl|res://*/DataAccess.TicketsModel.ssdl|res://*/DataAccess.TicketsModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:bz1s9tta0r.database.windows.net,1433;Initial Catalog=BuggerOff;Integrated Security=False;User ID=CoderFoundry@bz1s9tta0r;Password=LearnToCode!;Connect Timeout=30;Encrypt=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bz1s9tta0r.database.windows.net,1433;Initial Catalog=BuggerOff;Integrated Security=False;User ID=CoderFoundry@bz1s9tta0r;Password=LearnToCode!;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>