@using BuggerOff.ViewModels;
@using MvcCheckBoxList.Model;

@model BuggerOff.ViewModels.EditProjectViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form id="EditProject">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.HiddenFor(m=>m.ProjectId)
        <!--><input type="hidden" id="ProjectId" /></!-->
        <div class="form-group">
            <input type="text" class="input-lg" id="ProjectName" />
            <ul id="userList" class="list-group"></ul>
            <button type="button" id="theButton" class="btn-success">Sumbit</button>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    function checkPress(elementId, dataObjectWithSelect) {
        dataObjectWithSelect.IsSelected = !dataObjectWithSelect.IsSelected;
    }
    var ViewModelData;
    $(function () {        

        $('#theButton').click(function () {
            //get the values from the input fields
            ViewModelData.ProjectName = $('#ProjectName').val();
            $.ajax({
                url: "/Projects/SaveViewModel",
                type: "POST",
                data: JSON.stringify(ViewModelData),
                dataType: "json",
                //traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function () { alert("Success!"); },
                error: function () { alert("An error has occured!!!"); }
            });

        });

        /// DOM IS READY!

        var promise = $.get('/projects/GetViewModel', { id: $('#ProjectId').val() });

        promise.done(function (Data) {

            // ajax get succeeded
            // show the data in console
            console.log(Data);

            ViewModelData = Data;
            $('#ProjectName').val(ViewModelData.ProjectName);
            // display data
            for (var i = 0; i < ViewModelData.UserList.length; i++) {
                var user = ViewModelData.UserList[i];
                $('ul#userList').append(
                    '<li class="list-group-item">' +
                    '<input type="checkbox"' +
                    ((user.IsSelected === true) ? 'checked="checked"' : '') +
                    'onchange="checkPress(box' + i + ',' + 'ViewModelData.UserList[' + i + ']);" ' +
                    'id="box' + i + '">   ' +
                    user.UserName + 
                    '</li>');
            }
        });      


    });

    </script>
}



