@using BuggerOff.ViewModels;
@using MvcCheckBoxList.Model;

@model BuggerOff.ViewModels.EditProjectViewModel

@{
    ViewBag.Title = "Edit";
}
<form id="EditProject">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(m=>m.ProjectId)
        <!--><input type="hidden" id="ProjectId" /></!-->
        <div class="form-group">
            <div class="row" style="margin: 5px;">
                <div class="col-xs-12 text-center table-header" style="margin-bottom:10px;">
                    <h2>Edit Project</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                    <label for="projectName">Project Name</label><br/>
                    <input type="text" class="input-lg" id="ProjectName" />
                </div>
                <div class="col-xs-4">
                    <label for="userList">Project Members</label><br/>
                    <ul id="userList" class="list-group" style="margin:0;"></ul>
                    <button type="button" id="theButton" class="btn-success" style="margin-top:10px; float:right;">Sumbit</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    function checkPress(elementId, dataObjectWithSelect) {
        dataObjectWithSelect.IsSelected = !dataObjectWithSelect.IsSelected;
    }
    var ViewModelData;
    $(function () {        

        $('#theButton').click(function () {
            //get the values from the input fields
            ViewModelData.ProjectName = $('#ProjectName').val();
            $.ajax({
                url: "/Projects/SaveViewModel",
                type: "POST",
                data: JSON.stringify(ViewModelData),
                dataType: "json",
                //traditional: true,
                contentType: "application/json; charset=utf-8"
            });

        });

        /// DOM IS READY!

        var promise = $.get('/projects/GetViewModel', { id: $('#ProjectId').val() });

        promise.done(function (Data) {

            // ajax get succeeded
            // show the data in console
            console.log(Data);

            ViewModelData = Data;
            $('#ProjectName').val(ViewModelData.ProjectName);
            // display data
            for (var i = 0; i < ViewModelData.UserList.length; i++) {
                var user = ViewModelData.UserList[i];
                $('ul#userList').append(
                    '<li class="list-group-item">' +
                    '<input type="checkbox"' +
                    ((user.IsSelected === true) ? 'checked="checked"' : '') +
                    'onchange="checkPress(box' + i + ',' + 'ViewModelData.UserList[' + i + ']);" ' +
                    'id="box' + i + '">   ' +
                    user.UserName + 
                    '</li>');
            }
        });      


    });

    </script>
}



