@using BuggerOff.ViewModels;
@using BuggerOff.DataAccess;
@using PagedList;
@using PagedList.Mvc;
@using Mvc.JQuery.Datatables;
@using BuggerOff.Controllers;

@model IPagedList<ProjectViewModel>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery.loadTemplate-1.4.4.min.js"></script>

<div class="dataTables_wrapper table-responsive no-footer">
    <table id="Projects" class="display table table-bordered table-striped table-responsive dataTable no-footer" role="grid" aria-describedby="Projects_info">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="Projects" rowspan="1" colspan="1" aria-label="Assigned To: activate to sort column ascending">Project Name</th>
                <th class="sorting_disabled">Number of Tickets</th>
                <th class="sorting_disabled" id="actions" aria-label="Actions">Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/javascript">
    (function setDataTable() {
        if (!window.jQuery || !$.fn.DataTable) {
            setTimeout(setDataTable, 100);
            return;
        }
        var $table = $('#Projects');
        var dt = $table.dataTable({
            "aaSorting": [],
            "bProcessing": true,
            "bStateSave": true,
            "bServerSide": true,
            "bFilter": true,
            "dom": '<"#projectsTableControls"lf>rtip',
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "bAutoWidth": false,
            "sAjaxSource": "/Projects/getProjects",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": fnCallback
                }).done(function () {
                    $('th[aria-label^=Actions]').attr('style', 'width: 182px;');
                });
            }
        });
        $('#projectsTableControls').addClass('table-header');
        $('#Projects_length').prepend($('#newButton').html());
    })();
</script>

<script type="text/html" id="newButton">
    <a class="btn btn-white btn-info btn-sm" href="@Url.Action("Create", "Projects")">
        <i class="fa fa-plus-circle"></i>
        New Project
    </a>
</script>